*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root {
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
}
body {
    font-family: "Poppins", sans-serif;
}

.hero-section {
    min-height:100vh;
    background:linear-gradient(black,transparent),url("https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
    padding: 0rem 1rem;
    color:white;
       
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display:inline-block;
    margin-left:3rem;
    font-size:var(--text);
}
.navbar ul li a{
    text-decoration:none;
    color:white;

}
.hero-text{
    color:white;
    height: 90vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

.hero-text button{
    
    background-color: #3742fa;
    font-weight:900;
    font-size: var(--text);
    padding: 0.8rem 1rem;
    color:white;

}
.hero-text h2 {
    font-size: var(--head);
}

.hero-text p{
    font-size: 3rem;
}
